header{
    background-color: #02d767;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 500px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    cursor: pointer;
}
header:hover{
    background-color: #fdc54a;
}

body{
    background-color: rgb(204, 204, 204);
    font-family:sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.calculator{
    position: relative;
    background-color: whitesmoke;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.075);
}

.display{
    height: 100px;
    width: 100%;
    font-size: 3.5rem;
    text-align: right;
    margin-bottom: 25px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color:#505050;
    border-radius: 25px;
    /*box-shadow: 0 5px 10px rgba(0,0,0,0.05) inset;*/
}

.buttons{
    background-color: #ececec;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05) inset;
}

.buttons button{
    padding: 20px 10px;
    border-radius: 15px;
    border: none;
    color: rgb(105, 105, 105); 
    background-color: whitesmoke;
    font-size: 24px;
    font-weight:bold;
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0,0,0,0.05);
}



.buttons button:hover{
    background-color: #d8d8d8;
}

.buttons button:active{
    background-color: #cacaca;
}

.buttons .oper-btn{
    background-color: #02d767;
    color: whitesmoke;

}

.buttons .oper-btn:hover{
    background-color: #98dab7;
}

.buttons .oper-btn:active{
    background-color: #c2dfd0;
    color:#02d767;
}

.buttons .cal-btn{
    background-color: #02d767;
    color: whitesmoke;

}

.buttons .cal-btn:hover{
    background-color: #91d6b1;
}

.buttons .cal-btn:active{
    background-color: #c2dfd0;
    color:#02d767;
}

.buttons .ers-btn{
    background-color: #fdc54a;
    color: whitesmoke;
}

.buttons .ers-btn:hover{
    background-color: #ffd883;
}

.buttons .ers-btn:active{
    background-color: #faedd1;
    color: #fdc54a;
}